/* line 1, sass/ie6.scss */
a.button, form button {
  background-image: none !important;
}
/* line 3, sass/ie6.scss */
a.button:hover, a.button:active, a.button:focus, form button:hover, form button:active, form button:focus {
  background-image: none !important;
}

/* line 6, sass/ie6.scss */
.autocomplete-w1 {
  background: none;
  margin: 0;
}

/* line 9, sass/ie6.scss */
.autocomplete {
  height: 350px;
  margin: 0;
  overflow-x: hidden;
}
