
= render :partial => 'shared/lookup'

= content_for :sidebar do
  = render :partial => 'shared/friendship', :locals => { :friendship => @friendship, :owner => @owner }

- if @watches.empty?
  no movies
- else
  .watches
    - @watches.each do |watch|
      = render :partial => 'shared/watch', :locals => { :watch => watch, :owner => @owner }
