
- if user_signed_in?

  - if current_user == owner

    %h2 Your Friends
    %ul
      - owner.friends.each do |friend|
        %li= link_to friend.name, [friend], :class => 'user'
  - else

    %h2= owner.name

    - if friendship.nil?
      = link_to 'Add to friends', friendships_path(:friend_id => owner.id), :method => :post, :class => 'button'
    - else
      = link_to 'Remove from friends', friendship_path(friendship), :method => :delete, :confirm => 'Are you sure?', :class => 'button'