
- unless visitor.blank?

  - if visitor == user
    your page
  - else
    %h2= user.name 
    - friendship = visitor.friendship_with user
    - if friendship.nil?
      = link_to 'Add to friends', friendships_path(:friend_id => user.id), :method => :post, :class => 'button'
    - else
      = link_to 'Remove from friends', friendship_path(friendship), :method => :delete, :confirm => 'Are you sure?', :class => 'button'