
= render :partial => 'shared/lookup'

.recent-movies
  %h2 movies recently added

  - unless @recent_movies.empty?
    .movies.grid
      = render :partial => 'shared/movie', :collection => @recent_movies, :locals => { :owner => current_user }

.recent-users
  %h2 people recently joined

  - unless @recent_users.empty?

    %ul.recent-users
      - @recent_users.each do |user|
        %li= link_to user.name, user_path(user.nickname), :class => 'user'

