@import "compass/utilities/lists/horizontal-list"
@import "compass/utilities/general/min"
@import "compass/layout/sticky-footer"
@import "compass/css3/border-radius"

@include sticky-footer(50px, '#wrapper', '#wrapper-footer', '#footer')

body.bp
  font-size: 86%

  .flash
    .message
      +border-radius
      p
        margin: 0

  #header
    @include column($blueprint-grid-columns)
    margin-bottom: 10px
    #logo
      margin-top: 10px
      font-size: 200%
      font-family: 'Merriweather', arial, serif
      letter-spacing: 0px
      text-transform: lowercase
      +float-left
      a
        color: #333
        text-decoration: none


    #user-navigation
      margin-top: 1em
      +float-right
      ul
        +horizontal-list
        > li
        +horizontal-list-item

  #footer
    +container
    @include column($blueprint-grid-columns)
    padding: 10px
    text-align: center


  #container
    height: 100%
    +container

    #content
      clear: both

    .watches
      padding-top: 20px
      .watch
        margin-bottom: 20px
        .thumb
          float: left
          padding: 0 5px 5px 0
          img
            border: 1px #eee solid
            +border-radius

            padding: 4px

        h2
          padding: 0
          margin: 0
          .remove
            display: none

        h2:hover
          .remove
            display: inline

        .ago
          color: #999
          font-size: 11px

    form.lookup
      background-color: #00b7cd
      padding: 20px
      margin-bottom: 20px
      +border-radius
      input
        padding: 4px
        font-size: 120%
        &#title
          width: 680px

  h2
    font-family: 'Merriweather', arial, serif
    color: #444
    font-size: 175%
    &.login_invitation
      text-align: center
      font-size: 125%
      padding: 0.5em
      font-style: italic
      background-color: #eee
      +border-radius

  h2 sup, .movie sup
    color: #6c6
    font-size: 12px

  .movie sup
    font-size: 10px


  a.user
    padding-left: 14px
    background: url(../images/icons/user-icon.png) no-repeat 0 3px

  .recent-users a.user, .recent-movies .movie
    margin-right: 10px
    display: inline
  
  .recent
    .left
      float: left
      width: 50%
    .right
      float: left
      width: 50%