@import "compass/utilities/lists/horizontal-list"
@import "compass/utilities/general/min"
@import "compass/layout/sticky-footer"

@include sticky-footer(50px, '#wrapper', '#wrapper-footer', '#footer')

body.bp
  font-size: 86%

  #header

    #logo
      font-size: 3em
      font-family: 'Neuton', arial, serif
      +float-left
      a
        color: #558
        text-decoration: none


    #user-navigation
      margin-top: 1em
      +float-right
      ul
        +horizontal-list
        > li
        +horizontal-list-item
  #wrapper
    #header
      @include column($blueprint-grid-columns)
      margin-bottom: 20px

  #footer
    +container
    @include column($blueprint-grid-columns)
    padding: 10px
    text-align: center


  #container
    height: 100%
    +container

    #content
      clear: both

    .watches
      .watch
        margin-bottom: 20px
        h2
          font-family: Neuton
          color: #444
          padding: 0
          margin: 0
          .remove
            display: none

        h2:hover
          .remove
            display: inline

        .ago
          color: #999

    form.lookup
      margin-bottom: 20px
      input
        padding: 4px
        font-size: 120%
        &#title
          width: 480px
